<!doctype html>
<html lang="en">
<head>
    <title>스케줄표</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content w-100">
                    <div class="calendar-container">
                        <div class="calendar">
                            <div class="year-header">
                                <span class="left-button fa fa-chevron-left" id="prev"> </span>
                                <span class="year" id="label"></span>
                                <span class="right-button fa fa-chevron-right" id="next"> </span>
                            </div>
                            <table class="months-table w-100">
                                <tbody>
                                <tr class="months-row">
                                    <td class="month">Jan</td>
                                    <td class="month">Feb</td>
                                    <td class="month">Mar</td>
                                    <td class="month">Apr</td>
                                    <td class="month">May</td>
                                    <td class="month">Jun</td>
                                    <td class="month">Jul</td>
                                    <td class="month">Aug</td>
                                    <td class="month">Sep</td>
                                    <td class="month">Oct</td>
                                    <td class="month">Nov</td>
                                    <td class="month">Dec</td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="days-table w-100">
                                <td class="day">Sun</td>
                                <td class="day">Mon</td>
                                <td class="day">Tue</td>
                                <td class="day">Wed</td>
                                <td class="day">Thu</td>
                                <td class="day">Fri</td>
                                <td class="day">Sat</td>
                            </table>
                            <div class="frame">
                                <table class="dates-table w-100">
                                    <tbody class="tbody">
                                    </tbody>
                                </table>
                            </div>
                            <button class="button" id="add-button">JOB 등록</button>
                        </div>
                    </div>
                    <div class="events-container">
                    </div>
                    <div class="dialog" id="dialog">
                        <h2 class="dialog-header"> JOB 등록 </h2>
                        <form class="form" id="form">
                            <div class="form-container" align="center">
                                <label class="form-label" id="label" for="name">JOB Name</label>
                                <input class="input" type="text" id="name" maxlength="36">
                                <label class="form-label" id="label" for="state">상태</label>
                                <input class="input" type="text" id="state" min="0" maxlength="36">
                                <label class="form-label" id="label" for="date">수행일자</label>
                                <input class="input" type="text" id="date" min="0" maxlength="36" readonly>
                                <label class="form-label" id="label" for="time">수행시간</label>
                                <input class="input" type="text" id="time" min="0" maxlength="36">
                                <div class="form-container">
                                    <input type="button" value="취소" class="button" id="cancel-button">
                                    <input type="button" value="등록" class="button button-white" id="ok-button">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="calendar-job">
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr class="background-white">
                <th>JOB Name</th>
                <th>상태</th>
                <th>수행일자</th>
                <th>수행시간</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#jobs}}
                <tr>
                    <td><a href="#" class="update-modal" data-toggle="modal" data-target="#updateModal" id="{{id}}">{{name}}</a></td>
                    <td>{{state}}</td>
                    <td>{{date}}</td>
                    <td>{{time}}</td>
                </tr>
            {{/jobs}}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">JOB 수정</h5>
                </div>
                <div class="modal-body" align="center">
                    <label class="form-label" id="label" for="update-name">JOB Name</label>
                    <input class="input" type="text" id="update-name" maxlength="36">
                    <label class="form-label" id="lbael" for="update-state">상태</label>
                    <input class="input" type="text" id="update-state" min="0" maxlength="36">
                    <label class="form-label" id="label" for="update-date">수행일자</label>
                    <input class="input" type="text" id="update-date" min="0" maxlength="36" readonly>
                    <label class="form-label" id="label" for="update-time">수행시간</label>
                    <input class="input" type="text" id="update-time" min="0" maxlength="36">
                    <div class="form-container">
                        <input type="button" value="취소" class="button" id="update-cancel-button">
                        <input type="button" value="수정" class="button button-white" id="update-button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/app/jquery.min.js"></script>
<script src="/js/app/popper.js"></script>
<script src="/js/app/bootstrap.min.js"></script>
<script src="/js/app/main.js" ></script>

</body>
</html>

